
Unity Project/CPTC Visualizer/Library/APIUpdater/project-dependencies.graph
Unity Project/CPTC Visualizer/Library/ArtifactDB
Unity Project/CPTC Visualizer/Library/ArtifactDB-lock
Unity Project/CPTC Visualizer/Library/CurrentLayout-default.dwlt
Unity Project/CPTC Visualizer/Library/PackageManager/ProjectCache
Unity Project/CPTC Visualizer/Library/PackageManager/ProjectCache.md5
Unity Project/CPTC Visualizer/Library/SceneVisibilityState.asset
Unity Project/CPTC Visualizer/Library/ScriptAssemblies/Assembly-CSharp.dll
Unity Project/CPTC Visualizer/Library/shadercompiler-UnityShaderCompiler.exe0.log
Unity Project/CPTC Visualizer/Library/shadercompiler-UnityShaderCompiler.exe1.log
Unity Project/CPTC Visualizer/Library/shadercompiler-UnityShaderCompiler.exe2.log
Unity Project/CPTC Visualizer/Library/shadercompiler-UnityShaderCompiler.exe3.log
Unity Project/CPTC Visualizer/Library/shadercompiler-UnityShaderCompiler.exe4.log
Unity Project/CPTC Visualizer/Library/shadercompiler-UnityShaderCompiler.exe5.log
Unity Project/CPTC Visualizer/Library/shadercompiler-UnityShaderCompiler.exe6.log
Unity Project/CPTC Visualizer/Library/shadercompiler-UnityShaderCompiler.exe7.log
Unity Project/CPTC Visualizer/Library/SourceAssetDB
Unity Project/CPTC Visualizer/Library/SourceAssetDB-lock
